<div align="center">
  <h1>{{title}}</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input id="country" type="text" placeholder="Select Country" NgModel="country" aria-label="String" matInput [formControl]="countryControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCities($event)">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <br>
    <br>
    <br>
    <br>
    <mat-form-field class="example-full-width" *ngIf="countryControl.value && countryControl.enabled">
      <mat-select id="city" placeholder="Select City" NgModel="city" [formControl]="cityControl" (selectionChange)="onSelectionChanged($event)">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div id="data" *ngIf="countryControl.value && countryControl.enabled">
      <p>Selected Country: {{country}}</p>
      <div *ngIf="cityControl.value && cityControl.enabled && city">
        <p>Selected City: {{city}}</p>
      </div>
    </div>
  </form>
</div>